# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/
vendor/
.vscode/
.vs/
cockroach-data/
bin/
main

__pycache__/
app/__pycache__/
app/menu/__pycache__/

app/dataset/eye/
app/dataset/gill/
app/dataset/skin/

app/training/eye/
app/training/gill/
app/training/skin/