<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title>
         Ikan
      </title>
      <!-- CSS  -->
      <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
      <link href="./css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
   </head>
   <body>
      <noscript>
         <strong>We're sorry but Simple-21 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>
      <div id="app">
         <!---------BACKGROUND---------->
         <div class="bg"></div>
         
         <!---------LOADING---------->
        <div class="preloader-background" v-show="is_loading">
            <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
                  <div class="valign" style="width:100%;">
                     <div class="container">
                        <div class="row">
                              <div class="center col s12 m6 offset-m3">
                              <div class="preloader-wrapper big active">
                                 <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                 </div>
                                 </div>
                              </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
         
         <div class="container">
            <div class="row hide-on-med-and-down">
               <div class="col s12">
                  <div class="card">
                     <div class="card-image">
                        <img src="./img/banner_2.jpg">
                        <span class="card-title"><h4>Deteksi Kesegaran Ikan</h4></span>
                     </div>
                  </div>
               </div>
            </div>
            <h4 class="center hide-on-large-only black-text">Deteksi Kesegaran Ikan</h4>
            <div class="row">
               <div class="col s12" v-show="false">
                  <div class="card-panel">
                    <h5>Pengaturan</h5>
                    <div class="row">
                      <div class="input-field col s6">
                        <input id="input_layer" type="number" class="validate" v-model="img_size_w">
                        <label for="input_layer">Jumlah Input Layer (W)</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="input_layer" type="number" class="validate" v-model="img_size_h">
                        <label for="input_layer">Jumlah Input Layer (H)</label>
                      </div>
                    </div>
                  </div>
                </div>
               <div class="col s12">
                  <div class="card-panel">
                     <div class="row">
                        <div class = "col s12 m12 l4">
                          <div class="center">
                              <h5>Mata Ikan</h5>
                              <label for="image_eye">
                                 <input type="file" id="image_eye" style="display:none;" accept="image/png, image/jpeg" @change="onFileChange($event,'eye')" />
                                 <img v-bind:src="images['eye']" width="200" height="200" style="cursor: pointer; "/>
                              </label>
                              <br />
                              <p v-if="!training_result.eye.training_model_exist">Model Belum Dilatih!<br /></p>
                          </div>
                          <br />
                        </div>
                        <div class = "col s12 m12 l4">
                           <div class="center">
                              <h5>Insang Ikan</h5>
                              <label for="image_gill">
                                 <input type="file" id="image_gill" style="display:none;" accept="image/png, image/jpeg" @change="onFileChange($event,'gill')" />
                                 <img v-bind:src="images['gill']" width="200" height="200" style="cursor: pointer; " />
                              </label>
                              <br />
                              <p v-if="!training_result.gill.training_model_exist">Model Belum Dilatih!<br /></p>
                           </div>
                          <br />
                        </div>
                        <div class = "col s12 m12 l4">
                           <div class="center">
                              <h5>Kulit Ikan</h5>
                              <label for="image_skin">
                                 <input type="file" id="image_skin" style="display:none;" accept="image/png, image/jpeg" @change="onFileChange($event,'skin')" />
                                 <img v-bind:src="images['skin']" width="200" height="200" style="cursor: pointer; "/>
                              </label>
                              <br />
                              <p v-if="!training_result.skin.training_model_exist">Model Belum Dilatih!<br /></p>
                           </div>
                          <br />
                        </div>
                    </div>
                  </div>
               </div>
            </div>
            <div id="table" class="row">
               <div class="col s12">
                  <div class="card-panel">
                     <h5>Hasil</h5>
                     <table>
                        <thead>
                           <tr>
                              <th>Parameter</th>
                              <th>Prioritas</th>
                              <th>Akurasi</th>
                              <th>Hasil</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>Mata</td>
                              <th>{{ getStore()[2][2] }}</th>
                              <td>{{ detect_result.eye.accuration != "" ? detect_result.eye.accuration + "%" : "-"}}</td>
                              <td>{{ detect_result.eye.prediction != "" ? detect_result.eye.prediction : "-"}}</td>
                           </tr>
                           <tr>
                              <td>Insang</td>
                              <th>{{ getStore()[1][2] }}</th>
                              <td>{{ detect_result.gill.accuration != "" ? detect_result.gill.accuration + "%" : "-"}}</td>
                              <td>{{ detect_result.gill.prediction != "" ? detect_result.gill.prediction : "-"}}</td>
                           </tr>
                           <tr>
                              <td>Kulit</td>
                              <th>{{ getStore()[0][2] }}</th>
                              <td>{{ detect_result.skin.accuration != "" ? detect_result.skin.accuration + "%" : "-"}}</td>
                              <td>{{ detect_result.skin.prediction != "" ? detect_result.skin.prediction : "-"}}</td>
                           </tr>
                        </tbody>
                     </table>
                     <br /><br />
                     <div class="center" v-if="result != ''">
                        <h4><b> Keadaan Ikan : {{ result }} </b></h4>
                     </div>
                     <br /><br />
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col s12">
                  <div class="card-panel">
                     <br>
                     <div class="center row">
                        <div class="col s12 m6 l6">
                           <a href="/training" class="waves-effect waves-light btn-large  blue lighten-4 black-text" style="width: 100%;">Pelatihan</a>
                        </div>
                        <div class="col s12 hide-on-med-and-up">
                           <p></p>
                        </div>
                        <div class="col s12 m6 l6">
                           <a href="/" class="waves-effect waves-light btn-large blue lighten-4 black-text" style="width: 100%;">Beranda</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- built files will be auto injected -->
      <!--  Scripts-->
      <script src="./js/jquery.min.js"></script>
      <script src="./js/materialize.js"></script>
      <script src="./js/vue.js"></script>
      <script src="./js/axios.min.js"></script>
      <script src="./js/detect.js"></script>
   </body>
</html>