<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
      Ikan
    </title>

    <!-- CSS  -->
    <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="./css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <noscript>
      <strong>We're sorry but Simple-21 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript> 

    <!---------BACKGROUND---------->
  <div class="bg hide-on-med-and-down"></div>
  <div class="bg_img hide-on-large-only"></div>

  <div class="container">
    <div class="row hide-on-med-and-down">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <img src="./img/bg.jpg">
              <span class="card-title"><h4>Deteksi Kesegaran Ikan</h4></span>
            </div>
            <div class="card-content">
              <h6>Kesegaran ikan merupakan hal yang sangat penting dalam menentukan keseluruhan mutu daripada suatu produk perikanan. Mutu kesegaran dapat mencakup rupa atau kenampakan, rasa, bau, dan juga tekstur yang secara sadar ataupun tidak sadar akan dinilai oleh pembeli atau pengguna dari produk tersebut (Winarni dkk., 2003).</h6>
            </div>
          </div>  
        </div>
      </div>
      <h4 class="center white-text hide-on-large-only">Deteksi Kesegaran Ikan</h4>
      <div class="col s12 hide-on-large-only">
        <h6 class="white-text">Kesegaran ikan merupakan hal yang sangat penting dalam menentukan keseluruhan mutu daripada suatu produk perikanan. Mutu kesegaran dapat mencakup rupa atau kenampakan, rasa, bau, dan juga tekstur yang secara sadar ataupun tidak sadar akan dinilai oleh pembeli atau pengguna dari produk tersebut (Winarni dkk., 2003).</h6>
        <br /><br /><br />
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel">
            <br>
            <div class="center row">
              <div class="col s12 m6 l6">
                <a href="/training" class="waves-effect waves-light btn-large blue" style="width: 100%;">Pelatihan</a>
              </div>
              <div class="col s12 hide-on-med-and-up">
                <p></p>
             </div>
              <div class="col s12 m6 l6">
                <a href="/detect"  class="waves-effect waves-light btn-large blue" style="width: 100%;">Deteksi</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>        
  </div>
  
    <!-- built files will be auto injected -->
    <!--  Scripts-->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/materialize.js"></script>
</body>

</html>