<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
        Pelatihan
    </title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="./css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <noscript>
      <strong>We're sorry but Simple-21 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript> 

  <div id="app"> 
    
    <!---------BACKGROUND---------->
  <div class="bg"></div>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <img src="./img/bg.jpg">
              <span class="card-title"><h4>Pelatihan Model</h4></span>
            </div>
          </div>  
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <div class="card-panel">
            <h5>Pelatihan : Mata ikan</h5>
            <p><span v-if="training_result.eye.training_model_exist">Model Telah Dilatih!</span><br /></p>
            <button class="waves-effect waves-light btn-large btn blue darken-1 white-text" @click="performTraining('eye')" :disabled="is_loading"> <b><span>Latih</span></b></button>
          </div>
        </div>

        <div class="col s4">
          <div class="card-panel">
            <h5>Pelatihan : Insang ikan</h5>
            <p><span v-if="training_result.gill.training_model_exist">Model Telah Dilatih!</span><br /></p>
            <button class="waves-effect waves-light btn-large btn blue darken-1 white-text" @click="performTraining('gill')" :disabled="is_loading"> <b><span>Latih</span></b></button>
          </div>
        </div>


        <div class="col s4">
          <div class="card-panel">
            <h5>Pelatihan : Kulit</h5>
            <p><span v-if="training_result.skin.training_model_exist">Model Telah Dilatih!</span><br /></p>
            <button class="waves-effect waves-light btn-large btn blue darken-1 white-text" @click="performTraining('skin')" :disabled="is_loading"> <b><span>Latih</span></b></button>
          </div>
        </div>

      </div>

      <div id="table" class="row" v-if="show_table">
        <div class="col s12">
          <div class="card-panel">
            <h5>Hasil</h5>
              <table>
                <thead>
                  <tr>
                      <th>Parameter</th>
                      <th>Test Akurasi</th>
                      <th>Training Akurasi</th>
                      <th>Presisi</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>Mata</td>
                    <td>{{ training_result.eye.test_accuration != "" ? training_result.eye.test_accuration + "%" : "-"}} </td>
                    <td>{{ training_result.eye.training_accuration != "" ? training_result.eye.training_accuration + "%"  : "-"}}</td>
                    <td>{{ training_result.eye.precision != "" ? training_result.eye.precision : "-"}}</td>
                  </tr>
                  <tr>
                    <td>Insang</td>
                    <td>{{ training_result.gill.test_accuration != "" ? training_result.gill.test_accuration + "%"  : "-"}}</td>
                    <td>{{ training_result.gill.training_accuration != "" ? training_result.gill.training_accuration + "%"  : "-"}}</td>
                    <td>{{ training_result.eye.precision != "" ? training_result.gill.precision : "-"}}</td>
                  </tr>
                  <tr>
                    <td>Kulit</td>
                    <td>{{ training_result.skin.test_accuration != "" ? training_result.skin.test_accuration + "%"  : "-"}}</td>
                    <td>{{ training_result.skin.training_accuration != "" ? training_result.skin.training_accuration + "%"  : "-"}}</td>
                    <td>{{ training_result.eye.precision != "" ? training_result.skin.precision  : "-"}}</td>
                  </tr>
                </tbody>
              </table>
              <br /><br />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="card-panel">
            <br>
            <div class="center row">
              <div class="col s6">
                <a href="/" class="waves-effect waves-light btn-large blue" style="width: 100%;">Beranda</a>
              </div>
              <div class="col s6">
                <a href="/detect"  class="waves-effect waves-light btn-large blue" style="width: 100%;">Deteksi</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>        
  </div>
  
  </div>
    <!-- built files will be auto injected -->
    <!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/materialize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/training.js"></script>
</body>

</html>